@import "main";

body {
	color: #888;
	font-size: 14px;
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 1.6;
}

header {
	width: 100%;
	padding: 20px 0;
}
nav {
	width: 100%;
	height: 40px;
	background: $primary-color;
	color: $text-color;
	.nav-top {
		li {
			a {
				line-height: 40px;
				@include inline-block;
				color: $text-color;
				padding: 0 20px;
				&:hover {
					text-decoration: none;
				}
			}
			&.current {
				a {
					background: $dark-primary-color;
				}
			}
		}
	}
}
.nav-alphabet {
	padding: 10px 0;
	background: #f2f2f2;
	.nav-az {
		margin-bottom: 0;
		li {
			a {
				padding: 0 7px;
			}
		}
	}
}
.ui-section-title {
	margin: 20px 0;
	h3 {
		font-size: 18px;
		text-transform: uppercase;
		color: $primary-text;
		margin-bottom: 0;
		a {
			color: $primary-text;
			&:hover {
				color: $accent-color;
				text-decoration: none;
			}
		}
	}
}
.section-line {
	margin: 20px 0;
}
.item-video {
	.ui-thumb {
		margin-bottom: 10px;
		position: relative;
		a {
			> span {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 50px;
				color: $text-color;
				margin: -25px;
				display: none;
				text-shadow: 1px 1px 1px rgba(0,0,0,.5);
			}
		}
		&:hover {
			a {
				> span {
					display: block;
				}
			}
		}
		.ui-time {
			position: absolute;
			right: 5px;
			bottom: 5px;
			font-size: 11px;
			@include inline-block;
			@include border-radius(2px);
			background: rgba(0,0,0,.5);
			color: #fff;
			padding: 0 5px;
		}
		.fav-bar {
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			height: 3px;
			width: 80%;
			background: $primary-color;
		}
	}
	.ui-meta {
		.ui-title {
			font-size: 12px;
			margin: 0;
			a {
				color: $primary-color;
			}
		}
	}
	&.inside-meta {
		position: relative;
		.ui-meta {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 10px;
			a {
				color: $text-color;
			}
		}
	}
	&.item-feature {
		.ui-meta {
			.ui-title {
				font-size: 18px;
			}
		}
	}
}

.sidebar {
	margin-top: 20px;
	.widget {
		margin-bottom: 20px;
		&.ui-list-cate {
			background: #f2f2f2;
			padding: 10px 20px;
			ul {
				padding-left: 0;
				margin-bottom: 0;
				list-style: none;
				li {
					a {
						color: $primary-text;
					}
				}
			}
		}
	}
}

footer {
	padding: 20px 0;
	background: $primary-text;
	p, ul {
		margin-bottom: 0;
	}
	.social-bottom {
		li {
			a {
				font-size: 16px;
				color: $divider-color;
				&:hover {
					text-decoration: none;
					color: $primary-color;
				}
			}
		}
	}
}
